@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1em $body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.site-header {
  padding: 80px 0;

  .site-logo {
    margin-bottom: 10px;
  }

  .site-nav {
    @include uppercase();
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.7em;

    ul {
      display: flex;
      list-style-type: none;

      li {
        margin: 0 20px;
      }
    }
  }
}

.hero {
  position: relative;
  margin-bottom: 150px;

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    width: 35%;

    .info-block {
      &__subtitle {
        @include uppercase();
        color: $brand-color;
        font-size: 0.3em;
        font-family: $body;
        display: block;

      }

      &__title--bigger {
        > h1 {
          font-size: 1.8rem;
        }

      }

      &__body {
        p {
          font-size: 0.7em;
          color: $info-block-color;
        }
      }


    }
  }

  .hero__img {
    &::after {
      content: "FIRST SURFING MAGAZINE";
      position: absolute;
      right: -20em;
      top: 16em;
      color: black;
      transform: rotate(-90deg);
      font-family: "Playfair Display", serif;
      letter-spacing: 0.8em;
      font-size: 0.5em;
    }
  }

  .hero__icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 0.3em;
    color: $info-block-color;
    position: relative;

    &-title {
      flex: 1;
      transform: rotate(-90deg);
    }

    &-bar_right {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.quote {
  text-align: center;

  &::after {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 35px auto 0;
  }

  &__body {
    font-family: $headings;
    font-weight: 400;
    color: $heading-color;
  }

  &__name {
    @include uppercase();
    font-size: 0.6rem;
    font-style: normal;
  }
}

.media__content {
  display: flex;
  margin-top: 2em;
  position: relative;

  .media-info {
    display: flex;
    flex-direction: column;
    width: 114%;

    .media-text-block {
      font-size: .7em;
      padding: 1% 25% 0 21%;
      color: $info-block-color;

      .list-title {
        display: inline-block;
        font-family: "Playfair Display", serif;
        letter-spacing: 1em;
        font-weight: 500;
        margin-top: 11em;
        font-size: .4em;
        padding-bottom: 1em;
        border-bottom: 2px solid $brand-color;
      }
    }
  }

  .media-img {
    display: flex;
    position: absolute;
    left: 46%;
    top: 8%;
    width: 64%;

    .img-block-video {
      display: flex;
      justify-content: center;
      align-items: center;

      &-button {
        z-index: -1;
      }
    }
  }
}

.catalog-title {
  position: relative;

  &-wrapper {
    position: absolute;
    top: -10em;
    left: -9em;
    right: -9em;
  }

  .catalog__content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 15em;


    &--small {
      color: $brand-color;
    }
  }

}

.catalog__content {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    top: 12em;
    right: 1em;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    top: 12em;
    left: -7em;
  }

  .item-card {
    display: flex;
    position: relative;
    width: 69%;
    height: 65%;

    &__image {
      display: flex;
      position: relative;

      &--bg {
        display: flex;
        position: absolute;
        z-index: -1;
        bottom: -1em;
        left: -37%;
      }
    }

    &__content-text {
      display: flex;
      flex-direction: column;
      width: 61%;
      align-items: center;
      position: absolute;
      left: 53%;
      top: 9em;

      & p:first-child {
        font-size: .7em;
        color: $info-block-color;
        align-self: flex-start;

      }

      & p:nth-child(2) {
        font-size: 1.1em;
        color: $info-block-color;
      }

      & p:nth-child(3) {
        font-size: .7em;
        color: $info-block-color;
        color: $price;
      }

      & p:last-child {
        font-size: 0.4em;
        color: $info-block-color;
        font-weight: 700;
      }
    }

  }
}

.content-list {
  display: flex;
  justify-content: center;

  a {
    padding: .1em;
    border-bottom: 2px solid $brand-color;
  }
}
.article{
  position: relative;
}

.article-one {
  display: flex;
  margin-top: 15%;

  .article-one-info {
    display: flex;
    position: relative;
    margin-top: 5em;

    &-block {
      position: relative;

      img {
        position: absolute;
        top: 0.1em;
        z-index: -1;
      }

      p {
        font-size: .7em;
        color: $info-block-color;
        padding: 3em 2em 3em 0;
      }

      .list-title {
        display: inline-block;
        font-family: "Playfair Display", serif;
        letter-spacing: 0.7em;
        font-weight: 500;
        margin-top: 11em;
        font-size: .3em;
        border-bottom: 2px solid $brand-color;
      }

      .title-big {
        h1 {
          margin-top: 36%;

          &:first-letter {
            display: inline-block;
            border-bottom: 1px solid $brand-color;
          }
        }
      }
    }
  }

  .article-one-img-big {
    position: absolute;
    max-width: 100%;
    z-index: 1;
  }
}

.article-two {
  display: flex;
  margin-top: 17%;
  position: relative;

  &-img {
    max-width: 80%;

    &:before {
      content: "SURF CAMPS";
      position: absolute;
      transform: rotate(-90deg);
      left: -7.4em;
      top: 5.5em;
      letter-spacing: 0.7em;
      font-size: 10px;
      font-weight: 700;
      color: $info-block-color;
    }
  }

  &-text-block {
    position: absolute;
    left: 75%;
    top: 16em;

    p {
      font-size: .7em;
      color: $info-block-color;
      padding: 3em 2em 3em 0;
    }

    .list-title {
      display: inline-block;
      font-family: "Playfair Display", serif;
      letter-spacing: 0.7em;
      font-weight: 500;
      margin-top: 11em;
      font-size: .3em;
      border-bottom: 2px solid $brand-color;
    }

  }

}

.Subscribe {
  &::before {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 35px auto;
  }

  &-block {
    margin: 0 auto;
    position: relative;

    &-title {
      display: flex;
      justify-content: center;
    }

    p {
      text-align: center;
      font-size: .7em;
      color: $info-block-color;
      padding: 1em;
    }

    &-input {
      position: relative;
      width: inherit;
      height: 4em;

      .block-input-email {
        width: inherit;
        height: inherit;
        letter-spacing: 0.7em;
        font-size: 7px;
        font-weight: 900;
        color: $input-text;
        padding-left: 2em;
        background: lightgoldenrodyellow;
        border: 0;
      }

      .block-email-send {
        position: absolute;
        right: 14px;
        top: 0;
        height: inherit;
        width: 5em;
        background: no-repeat url("../img/button.png");

        .button-arrow {
          position: absolute;
          right: 3em;
          width: 2em;
          height: 2em;
          border-top: 1px solid white;
          border-right: 1px solid white;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.Contacts {
  margin-top: 15%;

  &-block {
    &__img {
      margin-left: -9em;
    }

    &__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: -2em;
      justify-content: space-around;

      &-one {
      }

      &-title-address {
        margin-left: 2em;
      }

      &-list-title {
        align-items: flex-start;
        font-family: "Playfair Display", serif;
        letter-spacing: 0.7em;
        font-weight: 500;
        margin-top: 11em;
        font-size: .3em;
        color: $brand-color;

        a {
          border-bottom: 2px solid $brand-color;
          padding-bottom: 0.3em;
          color: $brand-color;
        }
      }
    }
  }
}

.site-footer {
  margin-top: 10%;

  .site-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .site-nav {
    @include uppercase();
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 0.7em;
    margin-top: 5%;

    ul {
      display: flex;
      list-style-type: none;

      li {
        margin: 0 20px;
      }
    }
  }

}
