@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap");
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  .container {
    max-width: 1200px;
  }
}

.row {
  width: 100%;
}

.row--centered {
  align-items: center;
}

.row [class^="col"] {
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 98%;
}

.col-1-sm {
  width: 6.3333333333%;
}

.col-2-sm {
  width: 14.6666666667%;
}

.col-3-sm {
  width: 23%;
}

.col-4-sm {
  width: 31.3333333333%;
}

.col-5-sm {
  width: 39.6666666667%;
}

.col-6-sm {
  width: 48%;
}

.col-7-sm {
  width: 56.3333333333%;
}

.col-8-sm {
  width: 64.6666666667%;
}

.col-9-sm {
  width: 73%;
}

.col-10-sm {
  width: 81.3333333333%;
}

.col-11-sm {
  width: 89.6666666667%;
}

.col-12-sm {
  width: 98%;
}

@media only screen and (min-width: 45em) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .col-1 {
    width: 6.3333333333%;
  }

  .col-2 {
    width: 14.6666666667%;
  }

  .col-3 {
    width: 23%;
  }

  .col-4 {
    width: 31.3333333333%;
  }

  .col-5 {
    width: 39.6666666667%;
  }

  .col-6 {
    width: 48%;
  }

  .col-7 {
    width: 56.3333333333%;
  }

  .col-8 {
    width: 64.6666666667%;
  }

  .col-9 {
    width: 73%;
  }

  .col-10 {
    width: 81.3333333333%;
  }

  .col-11 {
    width: 89.6666666667%;
  }

  .col-12 {
    width: 98%;
  }

  .hidden-sm {
    display: block;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1em "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  color: #333;
}

a {
  color: rgba(35, 36, 40, 0.9);
  text-decoration: none;
}
a:hover {
  color: #5da8ef;
}

img {
  max-width: 100%;
  height: auto;
}

.site-header {
  padding: 80px 0;
}
.site-header .site-logo {
  margin-bottom: 10px;
}
.site-header .site-nav {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.7em;
}
.site-header .site-nav ul {
  display: flex;
  list-style-type: none;
}
.site-header .site-nav ul li {
  margin: 0 20px;
}

.hero {
  position: relative;
  margin-bottom: 150px;
}
.hero .hero__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  width: 35%;
}
.hero .hero__text .info-block__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: bold;
  color: #5da8ef;
  font-size: 0.3em;
  font-family: "Poppins", sans-serif;
  display: block;
}
.hero .hero__text .info-block__title--bigger > h1 {
  font-size: 1.8rem;
}
.hero .hero__text .info-block__body p {
  font-size: 0.7em;
  color: #8f8f8f;
}
.hero .hero__img::after {
  content: "FIRST SURFING MAGAZINE";
  position: absolute;
  right: -20em;
  top: 16em;
  color: black;
  transform: rotate(-90deg);
  font-family: "Playfair Display", serif;
  letter-spacing: 0.8em;
  font-size: 0.5em;
}
.hero .hero__icon {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.3em;
  color: #8f8f8f;
  position: relative;
}
.hero .hero__icon-title {
  flex: 1;
  transform: rotate(-90deg);
}
.hero .hero__icon-bar_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.quote {
  text-align: center;
}
.quote::after {
  content: "";
  display: block;
  background-color: #5da8ef;
  width: 2px;
  height: 100px;
  margin: 35px auto 0;
}
.quote__body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #333;
}
.quote__name {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: bold;
  font-size: 0.6rem;
  font-style: normal;
}

.media__content {
  display: flex;
  margin-top: 2em;
  position: relative;
}
.media__content .media-info {
  display: flex;
  flex-direction: column;
  width: 114%;
}
.media__content .media-info .media-text-block {
  font-size: .7em;
  padding: 1% 25% 0 21%;
  color: #8f8f8f;
}
.media__content .media-info .media-text-block .list-title {
  display: inline-block;
  font-family: "Playfair Display", serif;
  letter-spacing: 1em;
  font-weight: 500;
  margin-top: 11em;
  font-size: .4em;
  padding-bottom: 1em;
  border-bottom: 2px solid #5da8ef;
}
.media__content .media-img {
  display: flex;
  position: absolute;
  left: 46%;
  top: 8%;
  width: 64%;
}
.media__content .media-img .img-block-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media__content .media-img .img-block-video-button {
  z-index: -1;
}

.catalog__title-wrapper .catalog__content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 15em;
  background-image: url("../img/img.png");
}
.catalog__title-wrapper .catalog__content-title--small {
  color: #5da8ef;
}

.catalog__content {
  position: relative;
}
.catalog__content:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  top: 12em;
  right: 1em;
}
.catalog__content:before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
  top: 12em;
  left: -7em;
}
.catalog__content .item-card {
  display: flex;
  position: relative;
  width: 69%;
  height: 65%;
}
.catalog__content .item-card__image {
  display: flex;
  position: relative;
}
.catalog__content .item-card__image--bg {
  display: flex;
  position: absolute;
  z-index: -1;
  bottom: -1em;
  left: -37%;
}
.catalog__content .item-card__content-text {
  display: flex;
  flex-direction: column;
  width: 61%;
  align-items: center;
  position: absolute;
  left: 53%;
  top: 9em;
}
.catalog__content .item-card__content-text p:first-child {
  font-size: .7em;
  color: #8f8f8f;
  align-self: flex-start;
}
.catalog__content .item-card__content-text p:nth-child(2) {
  font-size: 1.1em;
  color: #8f8f8f;
}
.catalog__content .item-card__content-text p:nth-child(3) {
  font-size: .7em;
  color: #8f8f8f;
  color: #ce60a8;
}
.catalog__content .item-card__content-text p:last-child {
  font-size: 0.4em;
  color: #8f8f8f;
  font-weight: 700;
}

.content-list {
  display: flex;
  justify-content: center;
}
.content-list a {
  padding: .1em;
  border-bottom: 2px solid #5da8ef;
}

.article-one {
  display: flex;
  margin-top: 15%;
}
.article-one .article-one-info {
  display: flex;
  position: relative;
  margin-top: 5em;
}
.article-one .article-one-info-block {
  position: relative;
}
.article-one .article-one-info-block img {
  position: absolute;
  top: 0.1em;
  z-index: -1;
}
.article-one .article-one-info-block p {
  font-size: .7em;
  color: #8f8f8f;
  padding: 3em 2em 3em 0;
}
.article-one .article-one-info-block .list-title {
  display: inline-block;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.7em;
  font-weight: 500;
  margin-top: 11em;
  font-size: .3em;
  border-bottom: 2px solid #5da8ef;
}
.article-one .article-one-info-block .title-big h1 {
  margin-top: 36%;
}
.article-one .article-one-info-block .title-big h1:first-letter {
  display: inline-block;
  border-bottom: 1px solid #5da8ef;
}
.article-one .article-one-img-big {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.article-two {
  display: flex;
  margin-top: 17%;
  position: relative;
}
.article-two-img {
  max-width: 80%;
}
.article-two-img:before {
  content: "SURF CAMPS";
  position: absolute;
  transform: rotate(-90deg);
  left: -7.4em;
  top: 5.5em;
  letter-spacing: 0.7em;
  font-size: 10px;
  font-weight: 700;
  color: #8f8f8f;
}
.article-two-text-block {
  position: absolute;
  left: 75%;
  top: 16em;
}
.article-two-text-block p {
  font-size: .7em;
  color: #8f8f8f;
  padding: 3em 2em 3em 0;
}
.article-two-text-block .list-title {
  display: inline-block;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.7em;
  font-weight: 500;
  margin-top: 11em;
  font-size: .3em;
  border-bottom: 2px solid #5da8ef;
}

.Subscribe::before {
  content: "";
  display: block;
  background-color: #5da8ef;
  width: 2px;
  height: 100px;
  margin: 35px auto;
}
.Subscribe-block {
  margin: 0 auto;
  position: relative;
}
.Subscribe-block-title {
  display: flex;
  justify-content: center;
}
.Subscribe-block p {
  text-align: center;
  font-size: .7em;
  color: #8f8f8f;
  padding: 1em;
}
.Subscribe-block-input {
  position: relative;
  width: inherit;
  height: 4em;
}
.Subscribe-block-input .block-input-email {
  width: inherit;
  height: inherit;
  letter-spacing: 0.7em;
  font-size: 7px;
  font-weight: 900;
  color: #fffff;
  padding-left: 2em;
  background: lightgoldenrodyellow;
  border: 0;
}
.Subscribe-block-input .block-email-send {
  position: absolute;
  right: 14px;
  top: 0;
  height: inherit;
  width: 5em;
  background: no-repeat url("../img/button.png");
}
.Subscribe-block-input .block-email-send .button-arrow {
  position: absolute;
  right: 3em;
  width: 2em;
  height: 2em;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

.Contacts {
  margin-top: 15%;
}
.Contacts-block__img {
  margin-left: -9em;
}
.Contacts-block__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -2em;
  justify-content: space-around;
}
.Contacts-block__info-title-address {
  margin-left: 2em;
}
.Contacts-block__info-list-title {
  align-items: flex-start;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.7em;
  font-weight: 500;
  margin-top: 11em;
  font-size: .3em;
  color: #5da8ef;
}
.Contacts-block__info-list-title a {
  border-bottom: 2px solid #5da8ef;
  padding-bottom: 0.3em;
  color: #5da8ef;
}

.site-footer {
  margin-top: 10%;
}
.site-footer .site-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.site-footer .site-nav {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 0.7em;
  margin-top: 5%;
}
.site-footer .site-nav ul {
  display: flex;
  list-style-type: none;
}
.site-footer .site-nav ul li {
  margin: 0 20px;
}

/*# sourceMappingURL=style.css.map */
